*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
    color: #FFFFFF;
}

.home-bg {
    background-image: url('../images/ch-cantin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.home-main {
    height: 65vh;
}

.footer {
    height: 15vh;
}

.nav-link:hover, .footer-link:hover, .fa-brands:hover {
    color: #47555E!important;

}


/*********************************************************************
                        Media queries 
**********************************************************************/

/* mobile phones */ 

@media screen and (min-device-width: 280px) and (max-device-width: 768px) {
    .home-main {
        height: 70vh;
    }
}